{% extends "layout.html" %}

{% block title %} Minimal Flask Table {% endblock %}

{% block body %}


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script>

setInterval(function() {
  $.get("getjson", function(data, status){
    j = JSON.parse(data)
    hc.series[0].addPoint([new Date().getTime(), j[0][1]], true, true);   
  });
}, 5000);

data = {{rows|tojson}} 

var hc= Highcharts.stockChart('container', {
      chart: {
        zoomType: 'x',
        events: {
          load() {
            var series = this.series[0];
          }
        }
      },
      title: {
        text: 'Load CPU Percent'
      },
      subtitle: {
        text: document.ontouchstart === undefined ?
            'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: 'CPU Percent'
        }
      },  
      legend: {
        enabled: false
      },
      plotOptions: {
        area: {
          fillColor: {
            linearGradient: {
              x1: 0,
              y1: 0,
              x2: 0,
              y2: 1
            },
            stops: [
              [0, Highcharts.getOptions().colors[0]],
              [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
            ]
          },
          marker: {
            radius: 2
          },
          lineWidth: 1,
          states: {
            hover: {
              lineWidth: 1
            }
          },
          threshold: null
        }
      },
      
      series: [{
        type: 'area',
        name: 'CPU Percent',
        data: data
      }]
      
    });
</script>
{% endblock %}
